---
import MainLayout from "@/layouts/MainLayout.astro";
import { AuthorSection } from "@/components";
---
<MainLayout title="Surendar Yama | Author Info Page">
  <p class="loading flex items-center justify-center mt-[40vh]">
        <span class="animate-pulse">
          Loading...
        </span>
  </p>
  <AuthorSection />
</MainLayout>

<script>
  document.fonts.ready.then(() => {
    const setTimeoutId = setTimeout(() => {
      document.querySelector('.loading').classList.add("hidden");
      document.querySelector('.author-info').classList.remove("hidden");
      clearTimeout(setTimeoutId);
    }, 2000);
  });
</script>