---
import {
  Comma, SemiColon, OpenBracket, CloseBracket,
  OpenFlowerBracket, CloseFlowerBracket, SingleQuote,
  DoubleQuote, OpenParenthesis, CloseParenthesis
} from "../components"
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Surendar Yama personal website" />
    <title>Surendar Yama Website | Landing Page</title>
    <link
      rel="icon"
      type="image/svg+xml"
      href="https://surendaryama.github.io/favicon.svg"
    />
    <link
      rel="alternate icon"
      type="image/x-icon"
      href="https://surendaryama.github.io/favicon.ico"
    />
    <link rel="stylesheet" href={Astro.resolve("../styles/global.css")} />
  </head>
  <body class="bg-black text-white font-monaspace-radon p-10 space-y-10">
    <header class="flex flex-col space-y-3">
      <h1 class="author-name-logo">Surendar Yama</h1>
      <div class="flex items-end">
        <p class="author-description">Shopify Themes, Apps and Headless Developer.</p>
      </div>
    </header>
    <!-- End of Header -->
    <main class="flex flex-col space-y-2 border border-gray-200 p-10">
        <section class="technologies">
          <h2 class="text-center text-yellow-500 hover:underline">Technologies We Use <span class="text-red-500">❤</span></h2>
          <div class="flex flex-wrap space-x-16 p-10">
            <Comma/>
            <SemiColon/>
            <OpenBracket/>
            <CloseBracket/>
            <OpenFlowerBracket/>
            <CloseFlowerBracket/>
            <SingleQuote/>
            <DoubleQuote/>
            <OpenParenthesis/>
            <CloseParenthesis/>
          </div>
        </section>
        <!--End of Technologies-->
    </main>
    <!-- End of Main  -->
    <footer>

    </footer>
    <!-- End of Footer -->
  </body>
</html>
