---
import MainLayout from "@/layouts/MainLayout.astro";
import { AuthorSection } from "@/components";
---
<MainLayout title="Surendar Yama | Author Info Page">
  <p class="loading flex items-center justify-center mt-[40vh]">
        <span class="animate-pulse">
          Loading...
        </span>
  </p>
  <AuthorSection />
</MainLayout>

<script>
  import { gsap } from "gsap";
  import { SplitText } from "gsap/SplitText";

  gsap.registerPlugin(SplitText);
  document.fonts.ready.then(() => {
    const setTimeoutId = setTimeout(() => {
      document.querySelector('.loading').classList.add("hidden");
      document.querySelector('.author-info').classList.remove("hidden");
      let authorInfoLines = SplitText.create('.author-info-lines');
      gsap.from(authorInfoLines.lines, {
        duration:.5,
        y:10, 
        autoAlpha:0,
        stagger:0.5
      })
      clearTimeout(setTimeoutId);
    }, 2000);
  });
</script>